In [1]:
import pandas as pd

In [249]:
df = pd.read_excel('data/Scats Data October 2006.xls',sheet_name=1,header=1)

In [250]:
df.head(10)

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,...,V86,V87,V88,V89,V90,V91,V92,V93,V94,V95
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-01 00:15:00,...,114,97,97,66,81,50,59,47,29,34
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-02 00:15:00,...,111,102,107,114,80,60,62,48,44,26
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-03 00:15:00,...,130,132,114,86,93,90,73,57,29,40
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-04 00:15:00,...,115,113,132,101,113,90,78,66,52,44
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-05 00:15:00,...,171,120,116,113,99,91,61,55,49,36
5,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-06 00:15:00,...,141,137,135,136,108,120,115,102,74,78
6,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-07 00:15:00,...,119,153,133,109,140,121,123,115,107,127
7,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-08 00:15:00,...,112,92,96,82,80,64,64,48,48,43
8,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-09 00:15:00,...,97,107,111,98,83,69,57,50,25,36
9,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-10 00:15:00,...,150,131,124,111,112,103,66,50,49,36

In [251]:
start_times = ['0:00', '0:15', '0:30', '0:45', '1:00', '1:15', '1:30', '1:45', '2:00', '2:15', '2:30', '2:45', '3:00', '3:15', '3:30', '3:45', '4:00', '4:15', '4:30', '4:45', '5:00', '5:15', '5:30', '5:45', '6:00', '6:15', '6:30', '6:45', '7:00', '7:15', '7:30', '7:45', '8:00', '8:15', '8:30', '8:45', '9:00', '9:15', '9:30', '9:45', '10:00', '10:15', '10:30', '10:45', '11:00', '11:15', '11:30', '11:45', '12:00', '12:15', '12:30', '12:45', '13:00', '13:15', '13:30', '13:45', '14:00', '14:15', '14:30', '14:45', '15:00', '15:15', '15:30', '15:45', '16:00', '16:15', '16:30', '16:45', '17:00', '17:15', '17:30', '17:45', '18:00', '18:15', '18:30', '18:45', '19:00', '19:15', '19:30', '19:45', '20:00', '20:15', '20:30', '20:45', '21:00', '21:15', '21:30', '21:45', '22:00', '22:15', '22:30', '22:45', '23:00', '23:15', '23:30', '23:45']

In [252]:
V_list = ['V00', 'V01', 'V02', 'V03', 'V04', 'V05', 'V06', 'V07', 'V08', 'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95']

In [253]:
df[V_list]

,V00,V01,V02,V03,V04,V05,V06,V07,V08,V09,...,V86,V87,V88,V89,V90,V91,V92,V93,V94,V95
0,86,83,52,58,59,44,31,37,30,24,...,114,97,97,66,81,50,59,47,29,34
1,32,28,17,11,7,11,6,15,11,12,...,111,102,107,114,80,60,62,48,44,26
2,26,32,21,14,10,12,13,10,9,7,...,130,132,114,86,93,90,73,57,29,40
3,32,22,28,13,16,8,14,10,8,8,...,115,113,132,101,113,90,78,66,52,44
4,40,39,21,11,16,9,15,15,9,6,...,171,120,116,113,99,91,61,55,49,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,51,56,43,29,35,19,24,21,15,20,...,122,121,127,103,122,124,117,99,108,88
4188,91,87,89,72,64,81,58,47,52,43,...,93,93,93,105,105,112,82,97,106,107
4189,100,81,89,73,100,83,68,53,55,47,...,87,118,83,76,66,64,77,60,49,45
4190,40,29,36,20,24,17,17,18,22,13,...,90,88,89,80,74,48,67,62,50,62
4191,36,30,24,25,21,13,23,11,8,6,...,123,103,93,87,74,87,75,63,51,54

In [254]:
df.rename(columns=dict(zip(V_list, start_times[:len(V_list)])), inplace=True)

In [255]:
df['Date'] = pd.to_datetime(df['Date']).dt.date
df

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,...,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-01,...,114,97,97,66,81,50,59,47,29,34
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-02,...,111,102,107,114,80,60,62,48,44,26
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-03,...,130,132,114,86,93,90,73,57,29,40
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-04,...,115,113,132,101,113,90,78,66,52,44
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-05,...,171,120,116,113,99,91,61,55,49,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-27,...,122,121,127,103,122,124,117,99,108,88
4188,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-28,...,93,93,93,105,105,112,82,97,106,107
4189,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-29,...,87,118,83,76,66,64,77,60,49,45
4190,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-30,...,90,88,89,80,74,48,67,62,50,62
4191,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-31,...,123,103,93,87,74,87,75,63,51,54

In [256]:
df['SCATS Number'].unique()

array([ 970, 2000, 2200, 2820, 2825, 2827, 2846, 3001, 3002, 3120, 3122,
       3126, 3127, 3180, 3662, 3682, 3685, 3804, 3812, 4030, 4032, 4034,
       4035, 4040, 4043, 4051, 4057, 4063, 4262, 4263, 4264, 4266, 4270,
       4272, 4273, 4321, 4324, 4335, 4812, 4821], dtype=int64)

In [257]:
# Automatically extract the time slot columns (assuming they start from a certain column index)
time_slot_columns = df.columns[10:]

In [258]:
time_slot_columns

Index(['0:00', '0:15', '0:30', '0:45', '1:00', '1:15', '1:30', '1:45', '2:00',
       '2:15', '2:30', '2:45', '3:00', '3:15', '3:30', '3:45', '4:00', '4:15',
       '4:30', '4:45', '5:00', '5:15', '5:30', '5:45', '6:00', '6:15', '6:30',
       '6:45', '7:00', '7:15', '7:30', '7:45', '8:00', '8:15', '8:30', '8:45',
       '9:00', '9:15', '9:30', '9:45', '10:00', '10:15', '10:30', '10:45',
       '11:00', '11:15', '11:30', '11:45', '12:00', '12:15', '12:30', '12:45',
       '13:00', '13:15', '13:30', '13:45', '14:00', '14:15', '14:30', '14:45',
       '15:00', '15:15', '15:30', '15:45', '16:00', '16:15', '16:30', '16:45',
       '17:00', '17:15', '17:30', '17:45', '18:00', '18:15', '18:30', '18:45',
       '19:00', '19:15', '19:30', '19:45', '20:00', '20:15', '20:30', '20:45',
       '21:00', '21:15', '21:30', '21:45', '22:00', '22:15', '22:30', '22:45',
       '23:00', '23:15', '23:30', '23:45'],
      dtype='object')

In [259]:
# Use the dynamically extracted time slot columns in the melt function
df_melted = pd.melt(df, 
                    id_vars=['SCATS Number', 'Location', 'CD_MELWAY', 'NB_LATITUDE', 'NB_LONGITUDE', 
                             'HF VicRoads Internal', 'VR Internal Stat', 'VR Internal Loc', 
                             'NB_TYPE_SURVEY', 'Date'], 
                    value_vars=time_slot_columns, 
                    var_name='Start Time', 
                    value_name='Vehicle Flow')

In [260]:
df_melted.head(10)

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,Start Time,Vehicle Flow
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-01,0:00,86
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-02,0:00,32
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-03,0:00,26
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-04,0:00,32
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-05,0:00,40
5,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-06,0:00,36
6,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-07,0:00,62
7,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-08,0:00,116
8,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-09,0:00,23
9,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-10,0:00,27

In [261]:
df_melted['Date'] = pd.to_datetime(df_melted['Date'])

In [262]:
# Set Date as the index
df_melted.set_index('Date', inplace=True)

In [263]:
# Sort by Date index
df_melted.sort_index(inplace=True)

In [264]:
df_melted.head(10)

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Start Time,Vehicle Flow
Date,,,,,,,,,,,
2006-10-01,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,0:00,86
2006-10-01,4034,BURKE_RD S OF WHITEHORSE_RD,045 K07,-37.81216,145.05933,16623,2582,5,1,11:00,198
2006-10-01,4034,WHITEHORSE_RD E OF BURKE_RD,045 K07,-37.81193,145.05982,17058,2582,3,1,11:00,109
2006-10-01,4034,BURKE_RD N OF WHITEHORSE_RD,045 K07,-37.81147,145.05946,6376,2582,1,1,11:00,202
2006-10-01,4032,HARP_RD W of BURKE_RD,045 K04,-37.80225,145.06081,4763,374,7,1,11:00,84
2006-10-01,4032,BURKE_RD S of HARP_RD,045 K04,-37.80256,145.06117,16624,374,5,1,11:00,189
2006-10-01,4032,BELMORE_RD E of BURKE_RD,045 K04,-37.80236,145.06167,16974,374,3,1,11:00,115
2006-10-01,4032,BURKE_RD N of HARP_RD,045 K04,-37.80202,145.06127,6375,374,1,1,11:00,169
2006-10-01,4030,KILBY_RD W of BURKE_RD,045 K02,-37.79471,145.06120,9334,373,7,1,11:00,18
2006-10-01,4030,HIGH_ST SW of BURKE_RD,045 K02,-37.79567,145.06111,5486,373,6,1,11:00,75

In [273]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le_location = LabelEncoder()
le_melway = LabelEncoder()

# Apply LabelEncoder to Location and CD_MELWAY
df_melted['Location'] = le_location.fit_transform(df_melted['Location'])
df_melted['CD_MELWAY'] = le_melway.fit_transform(df_melted['CD_MELWAY'])

In [275]:
df_melted.head(10)

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Start Time,Vehicle Flow
Date,,,,,,,,,,,
2006-10-01,970,127,37,-37.86703,145.09159,249,182,1,1,0:00,86
2006-10-01,4034,25,21,-37.81216,145.05933,16623,2582,5,1,11:00,198
2006-10-01,4034,136,21,-37.81193,145.05982,17058,2582,3,1,11:00,109
2006-10-01,4034,19,21,-37.81147,145.05946,6376,2582,1,1,11:00,202
2006-10-01,4032,68,20,-37.80225,145.06081,4763,374,7,1,11:00,84
2006-10-01,4032,30,20,-37.80256,145.06117,16624,374,5,1,11:00,189
2006-10-01,4032,14,20,-37.80236,145.06167,16974,374,3,1,11:00,115
2006-10-01,4032,21,20,-37.80202,145.06127,6375,374,1,1,11:00,169
2006-10-01,4030,81,19,-37.79471,145.06120,9334,373,7,1,11:00,18
2006-10-01,4030,78,19,-37.79567,145.06111,5486,373,6,1,11:00,75

In [276]:
df_melted.to_csv('data/Boroondara.csv')

In [277]:
from sklearn.model_selection import train_test_split

In [278]:
train_df, test_df = train_test_split(df_melted, test_size=0.2, shuffle=False)

In [279]:
# Save the training set
train_df.to_csv('data/train.csv')

In [280]:
# Save the test set
test_df.to_csv('data/test.csv')